<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Employees Infomation</h2>
    <h3>{{info .Uname}}</h3>


    <ul>
        <li>Department:{{ .Dept }}</li>
        <li>Name:{{ .Uname }}</li>
        <li>Email:{{ .Email }}</li>
        <li> Phone:{{ .Phone }}</li>
    </ul>


</body>

</html>